/*:root {
	--back: hsla(150, 50%, 30%, 1);
  --back2: hsla(150, 50%, 30%, .5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}*/

/*h1{
    text-align: center;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

h1{
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 10px 10px 20px rgb(10, 60, 91);
    margin: 0 auto;
}

thead,
tbody,
tfoot,
th,
tr,
td {
    border: 1px solid black;
    margin: 0;
    padding: 10px 5px;
}

tfoot tr td {
    padding: 10px 25px;
}

thead tr:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
    background-color: plum;
}

thead :nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
    background-color: #f5e1fd;
}

tbody tr th {
    font-size: bold;
}


tfoot tr td {
    background-color: plum;
    font-weight: bold;
}

/*tbody tr th,
tbody tr td#november {
    background-color: lightpink;
    color: white;
}*/

.highlight {
    background-color: plum;
    color: #fff;
}

tbody tr td {
    text-align: center;
    /*font-weight: bold;*/
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #ffefff;
}

caption {
    padding: 10px;
    caption-side: bottom;
      color: var(--back);
      font-size: .85rem;
  }
