html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100%;
    background: white;
    margin: 15px;
    max-width: 95%;
}

header, footer {
    margin: 10px;
    background-color: #c1e5e9;
    padding: 5px 0px 5px 5px ;
    max-width: 100%;
}

.logo-navigation {
    display: flex;
    flex-direction: row;
    
}

.logo-name {
    justify-content: flex-start;
    display: flex;
}

.logo {
    height: 70px;
    width: 70px;
    margin: 5px;
}

.websites-navigation {
    display: flex;
}

h5 {
    display: flex;
    font-size: 15px;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;

    /*transition: 0.5s;*/

}

.menu::before {
    content: "≡";
	font-size: 1.5rem;
    padding-bottom: 4px;
    border: 0cm;
}



.navigation a:hover, navigation a:active {
	color: white;
}


.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "≡";
	font-size: 1.5rem;
    padding-bottom: 4px;
}

.linkedin, .facebook {
    max-height: 40px;
    max-width: 40px;
}

.websites-navigation {
    max-height: 40px;
}

.navigation{
    border: 1px solid #cccfdb;
    border-radius: 2px;
 }
 ul {
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
 
 li {
   float: left;
 }
 
 li a {
   position: relative;
   display: block;
   color: #fff;
   text-align: center;
   padding: 8px 12px;
   text-decoration: none;
   z-index: 0;
 }
 
 li a:before {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   bottom: 0;
   left: 0;
   background-color: #1a9e9d;
   z-index: -1;
   transform: scale(0);
   transition: transform 0.5s ease-in-out;
 }

 li a:hover {
    background-color: #1a9e9d;
  }
 
 li a:hover:before,
 li a:focus:before {
   transform: scale(1);
 }

.date {
    background-color: #48b1b2;
    color: white;
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    justify-content: center;
    align-content: flex-start;
    padding-bottom: 15px;
}

.footer {
    display: flex;
    
}

footer img.logo {
    justify-content: center;
    padding-left: 100px;
}

.top {
    text-align: center;
}

.top p {
    font-style: italic;
}

.middle {
    text-align: center;
}

.bottom {
    text-align: center;
}

hr.line {
    border: 1px solid white;
}

main {
    margin : 1rem 2vw;
    padding: 1rem 2vw;
    border-radius: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    font-size: 15px;
    grid-gap: 10px;
    
}

.card1 {
    padding-bottom: none;
}

.grid-container > main {
    background-color: lightgrey;
}

main div {
    background-color: lightgrey;
    min-height: 200px;
    text-align: left;
    padding: 10px;
}

.card1, .card2, .card3,
 .card4, .card5, .card6 {
    border: 1px solid grey;
}

.spotlight1, .spotlight2, .spotlight3 {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid grey;
}

.card6 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.spotlight3 {
    display: none;
}

.card5 {
    display: none;
}

.dcard {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: #c1e5e9;
    border-radius: 5px;
}

.dcard .picture-element img[data-src]{
    width: 100%;
    filter: blur(.2rem)
}

.dcard .picture-element img{
    width: 100%;
    filter: blur(0);
}

.days-elapsed {
    margin-left: 2vw;
    font-weight: bold;
}

.last-visited {
    color: red;
}

.days-elapsed{
    max-height: 20px;
}

.picture-description {
    border: 1px solid rgba(0,0,0,0.3);
    width: auto;
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: white;
    border-radius: 5px;
}
